h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px black solid;
  padding:30px;
  margin:0px;
}

ol {
  font-size: 25px;
  text-align: center;
  border-bottom: 1px black solid;
  padding:20px;
  margin-top:0px;
}

a {
  color:#85144b;
}
#pwn{
  color:red;
}
#you{
  color:orange;
}
#eng{
  color:blue;
}
#web{
  color:green;
}
